body {
    font-family: lato;
    font-size: 17px;
}

.menu-bar {
    display: none;
}

.nav1-ul li {
  padding-right: 20px;
}

.nav1-ul a {
    text-decoration: none;
    color: white;
}

.nav2-second-items-ul a {
    color: #272a31;
    text-decoration: none;
}

.nav1-ul a:hover,
.nav2-second-items-ul a:hover {
    color: #ec5242;
    font-weight: 800;
}

.nav2-second-items-ul li {
  padding-right: 20px;
}

.nav2-second-items-ul li:first-child p {
    color: #ec5242;
}

.nav2-last-items p {
    display: flex;
    border: 2px solid #ec5242;
    color: #ec5242;
    font-weight: 700;
    padding: 10px;
    width: 150px;
}

.header3 {
    background-image:
    url('https://i.pinimg.com/originals/83/a6/8e/83a68ede151a440ec4e433ca578daaa3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.header3-first h3 {
    color: #f55f4e;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: cocogoose;
}

.header3-first h1 {
    font-size: 80px;
    font-weight: 900;
    color: #f55f4e;
    font-family: cocogoose;
}

.header3-first p {
    background-color: #272a31;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
}

.header3-first h2 {
    font-weight: 600;
    font-size: 40px;
    color: #272a31;
}

.header3-first h5 {
    font-weight: 400;
    color: #272a31;
}

/* *************************** */
.article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/1489187.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;

}

.first-article {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}


.main-program {
    display: flex;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-family: lato;
    font-size: 25px;
    text-transform: uppercase;
}

.border-bottom1 {
    position: absolute;
    height: 2px;
    width: 30%;
    background-color: #e96658;
    top: 48px;
    left: 60px;
}

.first-article-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ec5242;
    background-color: #272a31;
    color: #fff;
    display: inline-block;
    font-size: small;
    text-align: center;
    padding: 10px;
}

.first-article-1:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
    background-color: #f55f4e;
    cursor: pointer;
}

.see-more {
    display: flex;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-family: lato;
    font-size: 17px;
    text-transform: uppercase;
    border-bottom: 2 px solid #ec5242;
    margin-top: 100px;
    padding-bottom: -20;
}

.border-bottom3 {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #e96658;
    top: 28px;
}


/* *****************************************article 2**********************/
.article2 {
    margin-top: 100px;
}

.article2-header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.article2-header p {
    border-width: 20%;
    color: #272a31;
}

.border-bottom {
    position: absolute;
    height: 3px;
    width: 5%;
    background-color: #ec5242;
    top: 30px;
}


.article2-articles {
    display: grid;
    grid-template-columns: repeat(2, 43%);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 100px;
    grid-gap: 90px;

}

.article-elements {
    display: flex;
}

.article2-articles1 {
    position: relative;
}

.scd img {
    height: 100px;
}

.article-elements-img {
    position: absolute;
    height: auto;
    width: 120px;
    z-index: 1;
    left: 18px;
}

.article-elements-img-1 {
    position: absolute;
    height: 68px;
    width: 70px;
    top: -25px;
    right: -300;
}

.div2 {
    margin-left: 150px;
    font-size: small;
    color: #272a31;
}

.semi-title {
    position: relative;
    font-size: 18px;
    font-style: italic;
    color: #ec5242;
}

.border-bottom2 {
    position: absolute;
    height: 3px;
    width: 10%;
    background-color: #272a31;
    top: 50px;
}

/* footer */
.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272a31;
    margin-top: 100px;
}

.footer1-header {
    position: relative;
    font-size: 18px;
    font-style: italic;
    color: rgb(184, 184, 184);
    padding-top: 20px;
}

.border-bottom-footer {
    position: absolute;
    height: 2px;
    width: 30%;
    background-color: #e96658;
    top: 48px;
    left: 20px;
}

.lower-footer {
    display: flex;
    justify-items: center;
    padding-top: 70px;
}

.lower-footer p {
    color: rgb(184, 184, 184);
    font-size: 25px;
    padding-right: 20px;
    font-style: italic;
    font-family: cocogoose;
    text-align: center;
    border-right: 5px solid #e96658;
    margin-left: 10px;
}

/* footer 2 */
footer {
    margin-top: 30px;
}

.footer2 {
    display: flex;
    background-color: #474747;
    justify-content: center;
}

.footer2-elements {
    padding-top: 50px;
    display: flex;
    color: rgb(184, 184, 184);
}

.footer2-two {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-size: 15px;
    color: rgb(199, 199, 199);
}

.footer-svg {
    height: 60px;
}


/* **************************************about page*********************** */
.middle-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e96658;
    font-family: cocogoose;
    background-image:
        url('https://i.pinimg.com/originals/83/a6/8e/83a68ede151a440ec4e433ca578daaa3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    padding: 100px;
}

.middle-header2 {
    display: flex;
    align-items: center;
    text-align: center;

}

.middle-header h2 {
    /* padding: 200px; */
    font-size: 80px;
    font-family: cocogoose;
}

.middle-header p {
    background-color: #fff;
    display: inline-block;
    color: #272a31;
    font-weight: 400;
    font: lato;
    border: 1px solid #ec5242;
}

.middle-header h5 {
    color: #272a31;
}

.middle-header-link {
    text-decoration: none;
    color: #272a31;
    font-size: 25px;
    border-bottom: 1px solid #272a31;
}

.middle-header2 a:hover {
    text-decoration: none;
    color: #ec5242;
    font-weight: 700;
}

.middle-header3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}


/* main */

.main-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    border-bottom: 1px solid #555555;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main1-second p {
    font-size: 12px;
    text-align: center;
    padding-top: 50px;
}

.main1-first {
    position: relative;
    display: flex;
    justify-content: center;
}

.border-bottom-main {
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: #e96658;
    top: 48px;
    left: 200px;
}

.main-img {
    padding-top: 20px;
    border: 1px solid #555555;
    margin: 30px;
}

/* profiles */
.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.profiles p {
    font-size: 12px;
    padding-top: 20px;
}

.profiles h4 {
    font-size: 22px;
    color: #272a31;
    font-weight: 900;
}


.border-bottom-profiles {
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: #e96658;
    top: 30px;
    left: 150px;
}

.profiles2 {
    display: flex;
    justify-content: center;
}

.profiles2-one {
    position: relative;
    padding-right: 30px;
}

.profiles2-one-text {
    position: absolute;
    top: 50px;
    left: 40px;
    text-align: center;
    color: #fff;

}

.profiles2-one img {
    height: 200px;
    width: 350px;
}

/* ********************************tickets************************** */

.main1-first-tickets {
    position: relative;
    padding-right: 30px;
}

.border-bottom-tickets {
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: #e96658;
    top: 30px;
    left: 70px;
}

.step1 {
    display: flex;
    margin-top: 50px;
    border: 1px solid #868686;
    border-radius: 30px;
    padding: 5px 5px 0 5px;
}

.step1 img {
    height: 15px;
    padding-right: 3px;
}

.step1 p {
    font-size: 12px;
    padding-right: 20px;
    color: #ec5242;
}

.step1 h6 {
    font-size: 12px;
}

/**************************************** table ***********************/
.tickets-table {
    margin-top: 50px;
}


table,
th,
td {
    border: 1px solid black;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border: 1px solid #ec5242;
}

th {
    text-align: center;
}

th,
td {
    padding: 15px;
    font-weight: 800;
    text-align: center;
}

.colored-table {
    color: #ec5242;
    font-weight: 900;
    font-size: 17px;
    padding: 0 70px;
}

th {
    background-color: #d6d6d6;
    padding: 0 70px;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
}

tr {
    padding: 0 30px;
}

/**************************************** table ***********************/

/* tickets 2 */

.tickets2 {
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px 0;
}

.tickets2-first-item {
    position: absolute;
    top: -50px;
    left: 640px;
}

.tickets2-first-item img {
    height: 60px;
}

.step2 {
    font-weight: 900;
    font-size: 14px;
}

.main1-first-tickets2 {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 45px;
}

.border-bottom-tickets2 {
    position: absolute;
    height: 2px;
    width: 10%;
    background-color: #e96658;
    top: 80px;
    left: 60px;
}

/* menu */

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 2px solid #adadad;
    border-top: 5px solid#272a31;
    border-left: 5px solid#272a31;
    border-right: 5px solid#272a31;
    align-items: center;
    padding: 10px 30px;
}

.breakfast-checkins {
    display: flex;
}

.breakfast-checkins p {
    font-weight: 900;
    font-size: 13px;
    padding-top: 5px;
    color: #ec5242;
}

.breakfast-checkins p,
label {
    padding-right: 10px;
}

.radios {
    padding-right: 20px;
}

.breakfast {
    color: #272a31;

}

.menu3 {
    display: flex;
    justify-content: center;
}

.menu-sumit {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #ec5242;
    justify-content: center;
    display: inline-block;
    margin: 50px 600px;
}

.menu-sumit h3 {
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #ec5242;
}
