@media (max-width: 768px) {
  .menu-bar {
    display: block;
    width: 100%;
  }

  .menu-bar img {
    width: 7%;
    line-height: 2em;
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
  }

  .nav1-ul li {
    display: none;
  }

  .nav2-second-items-ul li {
    display: none;
  }

  .nav2-first-items img {
    display: none;
  }

  .header3 {
    margin-top: -5%;
  }

  .header3-first h3 {
    color: #f55f4e;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: cocogoose, sans-serif;
    width: 100%;
    margin-top: 10%;
    float: left;
  }

  .header3-first h1 {
    font-size: 50px;
    font-weight: 900;
    color: #f55f4e;
    font-family: cocogoose, sans-serif;
    width: 100%;
    display: block;
  }

  .header3-first p {
    background-color: transparent;
    color: #272a31;
    font-weight: 200;
    border: 1px solid #fff;
    display: inline-block;
  }

  .header3-first h2 {
    font-weight: 600;
    font-size: 30px;
    color: #272a31;
  }

  .article2-articles {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .first-article {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .first-article .first-article-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main1-first h4 {
    width: 100%;
    text-align: center;
    display: block;
  }

  .main2-first {
    display: flex;
    align-items: center;
    position: relative;
  }

  .border-bottom-main2 {
    position: absolute;
    height: 3px;
    width: 10%;
    background-color: #ec5242;
    top: 50px;
    left: 230px;
  }
  
  .first-article .first-article-1 h4 {
    width: 10%;
    margin-left: 2.5%;
  }

  .article2-header p {
    font-size: 1.6em;
  }

  .lower-footer p {
    width: 27%;
    color: rgb(184, 184, 184);
    font-size: 20px;
    padding-right: 20px;
    font-style: italic;
    font-family: cocogoose, sans-serif;
    text-align: center;
    border-right: 5px solid #e96658;
    margin-left: 10px;
  }

  .tickets-responsive p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .middle-header p {
    background-color: #fff;
    display: inline-block;
    color: #272a31;
    font-weight: 400;
    border: 1px solid #ec5242;
    margin-top: 8%;
  }

  .first-article .first-article-1 p {
    width: 55%;
    margin-left: 15%;
    text-align: left;
    font-size: 1.1em;
    display: inline-block;
  }

  .border-bottom {
    position: absolute;
    height: 3px;
    width: 10%;
    background-color: #ec5242;
    top: 45px;
  }

  .lower-footer {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    padding-top: 70px;
  }

  .footer2-one img {
    width: 200px;
    margin-left: 25px;
  }

  .footer1 {
    display: none;
  }

  .footer2-two {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-size: 10px;
    color: rgb(199, 199, 199);
  }

  /* about page */

  .middle-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #e96658;
    font-family: cocogoose, sans-serif;
    background-image: url('https://i.pinimg.com/originals/83/a6/8e/83a68ede151a440ec4e433ca578daaa3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    padding: 20px;
    margin-top: -6%;
  }

  .middle-header h2 {
    float: left;
    width: 100%;
    margin-top: 10%;
    font-size: 40px;
    font-family: cocogoose, sans-serif;
  }

  .middle-header h5 {
    color: #272a31;
    text-align: center;
  }

  .main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main1-first {
    position: relative;
    display: block;
    width: 100%;
    align-items: center;
    float: left;
  }

  .main-img {
    padding-top: 20px;
    border: 1px solid #555;
    margin-left: 20px;
    width: 80%;
  }

  .profiles2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .profiles2-one {
    position: relative;
    padding-left: 60px;
    padding-right: 15px;
    margin-top: 10%;
  }

  .tickets-table {
    display: none;
  }

  .profiles2-one-text {
    position: absolute;
    top: 50px;
    left: 90px;
    text-align: center;
    color: #fff;
  }

  /* tickets page */

  .main1-first-tickets {
    display: none;
  }

  .step1 {
    display: none;
    margin-top: 50px;
    border: 1px solid #868686;
    border-radius: 30px;
    padding: 5px 5px 0 5px;
  }

  .tickets2 {
    display: none;
  }

  .menu {
    display: none;
  }

  .breakfast-checkins {
    display: none;
  }

  .menu-sumit {
    display: none;
  }

  .tickets-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tickets-responsive h1 {
    color: #fff;
    background-color: #ec5242;
    border-radius: 40px;
    padding: 3px 50px;
    font-size: 35px;
    font-family: cursive;
  }

  .tickets-responsive3 {
    display: flex;
    justify-content: space-around;
    background-color: #868686;
    border-radius: 30px;
    padding-top: 10px;
  }

  .responsive2 {
    margin-top: 50px;
    padding: 0 90px;
  }

  .radio {
    height: 30px;
  }

  .tickets-responsive img {
    height: 25px;
  }
}
