body {
  font-family: sans-serif;
  font-size: 17px;
}

.nav1-ul li {
  padding-right: 20px;
}

.nav1-ul a {
  text-decoration: none;
  color: white;
}

.breakfast-checkins p,
label {
  padding-right: 10px;
}

.nav2-second-items-ul a {
  color: #272a31;
  text-decoration: none;
}

.nav1-ul a:hover,
.nav2-second-items-ul a:hover {
  color: #ec5242;
  font-weight: 800;
}

.breakfast-checkins p {
  font-weight: 900;
  font-size: 13px;
  padding-top: 5px;
  color: #ec5242;
}

.nav2-second-items-ul li {
  padding-right: 20px;
}

.nav2-last-items p {
  display: flex;
  border: 2px solid #ec5242;
  color: #ec5242;
  font-weight: 700;
  padding: 10px;
  width: 150px;
}

.header3-first p {
  background-color: #272a31;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
}

.article2-header p {
  border-width: 20px;
  color: #272a31;
}

.middle-header p {
  background-color: #fff;
  display: inline-block;
  color: #272a31;
  font-weight: 400;
  border: 1px solid #ec5242;
}

.lower-footer p {
  color: rgb(184, 184, 184);
  font-size: 25px;
  padding-right: 20px;
  font-style: italic;
  font-family: cocogoose, Arial, Helvetica, sans-serif;
  text-align: center;
  border-right: 5px solid #e96658;
  margin-left: 10px;
}

.main1-second p {
  font-size: 12px;
  text-align: center;
  padding-top: 50px;
}

.profiles p {
  font-size: 12px;
  padding-top: 20px;
}

.step1 p {
  font-size: 12px;
  padding-right: 20px;
  color: #ec5242;
}

.tickets-responsive p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.nav2-second-items-ul li:first-child p {
  color: #ec5242;
}

.header3 {
  background-image: url('https://i.pinimg.com/originals/83/a6/8e/83a68ede151a440ec4e433ca578daaa3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.header3-first h3 {
  color: #f55f4e;
  font-weight: 700;
  padding-bottom: 10px;
  padding-top: 20px;
  font-family: cocogoose, sans-serif;
}

.header3-first h1 {
  font-size: 80px;
  font-weight: 900;
  color: #f55f4e;
  font-family: cocogoose, sans-serif;
}

.header3-first h2 {
  font-weight: 600;
  font-size: 40px;
  color: #272a31;
}

.header3-first h5 {
  font-weight: 400;
  color: #272a31;
}

/* *************************** */

.article1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://wallpaperaccess.com/full/1489187.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -7px;
}

.first-article {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}

.main-program {
  display: flex;
  justify-content: center;
  position: relative;
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.border-bottom1 {
  position: absolute;
  height: 2px;
  width: 30%;
  background-color: #e96658;
  top: 48px;
  left: 60px;
}

.first-article-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ec5242;
  background-color: #272a31;
  color: #fff;
  font-size: small;
  text-align: center;
  padding: 10px;
}

.first-article-1 h4 {
  color: #e96658;
}

.first-article-1:hover {
  transform: scale(1.02);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  background-color: #f55f4e;
  cursor: pointer;
}

.see-more {
  display: flex;
  justify-content: center;
  position: relative;
  color: #fff;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  border-bottom: 2px solid #ec5242;
  margin-top: 100px;
  padding-bottom: -20px;
}

.border-bottom3 {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #e96658;
  top: 28px;
}

/* *****************************************article 2 **********************/

.article2 {
  margin-top: 100px;
}

.article2-header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.border-bottom {
  position: absolute;
  height: 3px;
  width: 5%;
  background-color: #ec5242;
  top: 30px;
}

.article2-articles {
  display: grid;
  grid-template-columns: repeat(2, 43%);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 100px;
  grid-gap: 90px;
}

.article-elements {
  display: flex;
}

.article2-articles1 {
  position: relative;
}

.scd img {
  height: 100px;
}

.article-elements-img {
  position: absolute;
  height: 75%;
  width: 120px;
  z-index: 1;
  left: 18px;
}

.article-elements-img-1 {
  position: absolute;
  height: 68px;
  width: 70px;
  top: -25px;
}

.div2 {
  margin-left: 150px;
  font-size: small;
  color: #272a31;
}

.semi-title {
  position: relative;
  font-size: 18px;
  font-style: italic;
  color: #ec5242;
}

.border-bottom2 {
  position: absolute;
  height: 3px;
  width: 10%;
  background-color: #272a31;
  top: 50px;
}

/* footer */
.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  margin-top: 100px;
}

.footer1-header {
  position: relative;
  font-size: 18px;
  font-style: italic;
  color: rgb(184, 184, 184);
  padding-top: 20px;
}

.border-bottom-footer {
  position: absolute;
  height: 2px;
  width: 30%;
  background-color: #e96658;
  top: 48px;
  left: 20px;
}

.lower-footer {
  display: flex;
  justify-items: center;
  padding-top: 70px;
}

/* footer 2 */
footer {
  margin-top: 30px;
}

.footer2 {
  display: flex;
  background-color: #474747;
  justify-content: center;
}

.footer2-elements {
  padding-top: 50px;
  display: flex;
  color: rgb(184, 184, 184);
}

.footer2-two {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  font-size: 15px;
  color: rgb(199, 199, 199);
}

.footer-svg {
  height: 60px;
}

/* **************************************about page*********************** */
.middle-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #e96658;
  font-family: cocogoose, sans-serif;
  background-image: url('https://i.pinimg.com/originals/83/a6/8e/83a68ede151a440ec4e433ca578daaa3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
  padding: 100px;
}

.middle-header2 {
  display: flex;
  align-items: center;
  text-align: center;
}

.middle-header h2 {
  font-size: 80px;
  font-family: cocogoose, Arial, Helvetica, sans-serif;
}

.middle-header h5 {
  color: #272a31;
}

.middle-header-link {
  text-decoration: none;
  color: #272a31;
  font-size: 25px;
  border-bottom: 1px solid #272a31;
}

.middle-header2 a:hover {
  text-decoration: none;
  color: #ec5242;
  font-weight: 700;
}

.middle-header3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

/* main */

.main-about {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  border-bottom: 1px solid #555;
}

.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.main1-first {
  position: relative;
  display: flex;
  justify-content: center;
}

.border-bottom-main {
  position: absolute;
  height: 2px;
  width: 10%;
  background-color: #e96658;
  top: 48px;
  left: 200px;
}

.main-img {
  padding-top: 20px;
  border: 1px solid #555;
  margin: 30px;
}

/* profiles */
.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.profiles h4 {
  font-size: 22px;
  color: #272a31;
  font-weight: 900;
}

.border-bottom-profiles {
  position: absolute;
  height: 2px;
  width: 10%;
  background-color: #e96658;
  top: 30px;
  left: 150px;
}

.profiles2 {
  display: flex;
  justify-content: center;
}

.profiles2-one {
  position: relative;
  padding-right: 30px;
}

.profiles2-one-text {
  position: absolute;
  top: 50px;
  left: 40px;
  text-align: center;
  color: #fff;
}

.profiles2-one img {
  height: 200px;
  width: 350px;
}

/* ********************************tickets************************** */

.breakfast {
  color: #272a31;
}

.menu3 {
  display: flex;
  justify-content: center;
}

.menu-sumit {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #ec5242;
  justify-content: center;
  margin: 50px 600px;
}

.menu-sumit h3 {
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid #ec5242;
}

.tickets-responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tickets-responsive h1 {
  color: #fff;
  background-color: #ec5242;
  border-radius: 40px;
  padding: 3px 200px;
  font-size: 35px;
  font-family: cursive;
}

.tickets-responsive3 {
  display: flex;
  justify-content: space-around;
  background-color: #868686;
  border-radius: 30px;
  padding-top: 10px;
  margin-top: 15px;
}

.responsive2 {
  margin-top: 50px;
  padding: 0 90px;
}

.radio {
  height: 30px;
}

.tickets-responsive img {
  height: 25px;
}
